html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEF5;
    margin: 0;
    text-decoration: none;
    /* #EEEEF5 */
}

a {
    text-decoration: none;
}

/* -------------------- SIGN IN CSS PAGE --------------------*/
.sign-in-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sign-in-menu .sign-in-box {
    width: 500px;
    height: 450px;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.2);
    
}

.sign-in-box h1, .sign-in-box h2 {
    margin: 0;
    text-align: center; 
    padding: 30px 0px;
}

.sign-in-box .sign-in-input input, #sign-in-btn{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
    border-radius: 5px;
}

.sign-in-box .sign-in-input .sign-in-input-field, #sign-in-btn {
    border: 1px solid #ccc;
    padding: 10px;
    
}

#sign-in-btn {
    background-color: black;
    color: white;
}

#sign-in-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


/* -------------------- CSS Cho main menu chọn tickets --------------------*/
.main-menu-categories-header h1{
    text-align: center;
}


#main-menu-categories-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.software-tickets-btn, .ttex-tickets-btn, .laser-engraving-btn, .loanunit-tickets-btn, .training-submit-btn {
    margin: 5px;
    width: 18vw;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.2);
    color: black;
}



#main-menu-categories-container img {
    object-fit: contain;
    width: 100%;
    height: 65%;
}

#main-menu-categories-container h2 {
    text-align: left;
    padding-left: 10px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}

#main-menu-categories-container p {
    padding: 0 10px;
}

.software-tickets-btn:hover, 
.ttex-tickets-btn:hover, 
.laser-engraving-btn:hover, 
.loanunit-tickets-btn:hover, 
.training-submit-btn:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.5);
}

/* -------------------- CSS Cho main menu software tickets --------------------*/
#software-tickets-menu {
    display: flex;
}

.software-tickets-sidebar {
    display: flex;
    width: 200px;
    height: 100vh;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.software-tickets-sidebar h1, .software-tickets-sidebar h2 {
    margin: 0;
    padding: 10px;
}

.software-tickets-sidebar-item-container {
    list-style: none;
    margin: 0;
    padding-inline-start: 0px;
}

.software-tickets-sidebar-item-container li {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.software-tickets-sidebar-item-container i {
    padding-right: 10px;
}

.software-tickets-sidebar-item-container li:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: #f1f1f1;
}


.software-tickets-menu-content {
    padding: 20px;
    flex: 1;
}

.software-tickets-menu-content > #software-tickets-create-btn {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.software-tickets-menu-content > #software-tickets-create-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


/* -------------------CSS cho Form log ticket software --------------------*/
.ticket-form-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; /* ẨN FORM KHI CHƯA NHẤN NÚT CREATE TICKET */
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);

    
}

.ticket-form-box {
    position: relative;
    width: 500px;
    height: 450px;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.2);
    
}

.ticket-form-header {
    justify-content: center;
    align-items: flex-end;
    
}

.ticket-form-header > .ti-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.ticket-form-overlay.active {
    display: flex; /* HIỆN FORM KHI NHẤN NÚT CLOSE */

}





