@import 'tailwindcss';
@layer base {
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }

    input, select, textarea {
        @apply border border-gray-300 rounded-md p-2 outline-none;
    }

    input:focus, select:focus, textarea:focus {
        @apply border-blue-500 ring-1 ring-blue-500;
    }
}
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Arial', 'Helvetica', sans-serif, ui-sans-serif, system-ui;
}
.swal2-popup {
    box-shadow: none !important;
    font-family: var(--font-sans) !important;
}
.swal2-container {
    z-index: 999999999999999 !important;
}


.swal2-confirm {
    background-color: #3085d6 !important;
}

.swal2-cancel {
    background-color: #d33 !important;
}

:root {
    --button-background-color: rgb(40,104,245);
    --button-text-color: white;
    --table-header-background-color: rgb(241,241,252);
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(28,28,30);
    margin: 0;
    text-decoration: none;
    height: auto;
    
    position: fixed;
    top:0 !important;
    left:0 !important;
    width:100vw !important;
    height:100vh !important;
    
    background-image:url("/imgs/blue_vector_background.svg") ;
    background-size:cover;
    /* background-position:center; */
    
    z-index: -1;
    overflow: scroll;
    /* #EEEEF5 */
}

*::-webkit-scrollbar {
    display: none;
}

form > button {
    display: flex;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 10px;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* button:disabled {
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed !important;
    pointer-events: none; /* Ngăn chặn hoàn toàn mọi sự kiện chuột 
} */

.spinner {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-right: 6px;
    vertical-align: middle;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

table {
    width: 100%;
    empty-cells: show;
    border-collapse: collapse;
    table-layout: fixed;
}



table tr th {
    background-color: var(--table-header-background-color);
    padding: 10px;
}

th, td {
    border: 1px solid #e5e7eb;
    padding: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.attachments-name-header {
    width: 70%;
}

.attachments-actions-header {
    width: 30%;
    
}



textarea {
    min-height: 100px;
    flex-shrink: 0;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 10px; */
    /* padding: 10px; */
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

/* 
.background-enable {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    background-image:url("/imgs/blue_vector_background.svg") ;
    background-size:cover;
    background-position:center;
    
    z-index: -1;
} */

/* -------------------- SIGN IN CSS PAGE --------------------*/
.sign-in-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sign-in-menu .sign-in-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 450px;
    background-color: rgb(28,28,30);
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 4px 10px 10px rgba(0,0,0,0.2);
    color: var(--button-text-color);
}

.sign-in-box h1, .sign-in-box h2 {
    margin: 0;
    text-align: center; 
    padding: 30px 0px;
}

.sign-in-box .sign-in-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}


.sign-in-input-field {
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(37,37,39);
    color: white;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.sign-in-box .sign-in-input .sign-in-input-field:focus {
    border: 1px solid rgb(0,113,227);
}

#sign-in-btn {
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

#sign-in-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* -------------------- CSS Cho main menu chọn tickets --------------------*/
.main-menu-categories-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 10vh;
    color: white;
    text-decoration: white;
}


#main-menu-categories-container {
    max-height: 90vh;
    display: flex;
    max-width: 1700px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-clip-margin: 20px;
    padding: 20px;
    

}

.software-tickets-btn, 
.ttex-tickets-btn, 
.laser-engraving-btn, 
.loanunit-tickets-btn, 
.training-submit-btn, 
.subk-management-btn, 
.invoice-exceptional-btn, 
.onboard-offboard-btn, 
.offline-request-btn,
.overheat-request-btn {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.5);
    color: black;
    transition: all 0.25s ease;
}

.ticket-img-description {
    box-sizing: border-box;
    padding: 20px;
    height: 60%;
}

.ticket-img-description img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

#main-menu-categories-container h2 {
    padding-left: 10px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}

#main-menu-categories-container p {
    height: 10px;
    padding: 0 10px;
    color: black;
}

.software-tickets-btn:hover, 
.ttex-tickets-btn:hover, 
.laser-engraving-btn:hover, 
.loanunit-tickets-btn:hover, 
.training-submit-btn:hover, 
.subk-management-btn:hover, 
.invoice-exceptional-btn:hover, 
.onboard-offboard-btn:hover, 
.offline-request-btn:hover,
.overheat-request-btn:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.5);
    transform: scale(1.05);
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: auto;
    padding-left: 16px;
    width: 100%;
    height: 70px;
    background-color: rgb(241,245,254);
    border-radius: 0 0 30px 30px;
    color: rgb(0,113,227);
    font-weight: 750;
}

.card-footer-icon .ti-angle-right {
    padding: 20px;
    color: rgb(0,113,227);
}

/* -------------------- CSS Cho main menu software tickets --------------------*/

#software-tickets-menu {
    display: flex;
    flex-direction: column;
}

.common-header-navigation {
    background: linear-gradient(to right, #1e3a8a, #3b82f6);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 10px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.common-header-navigation ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.common-header-navigation h1 {
    flex-shrink: 0;      /* QUAN TRỌNG: Ngăn H1 bị bóp nghẹt gây rớt dòng */
    margin-right: 10px;           /* Bỏ margin mặc định để không bị lệch */
    white-space: nowrap; /* Đảm bảo chữ luôn nằm trên 1 hàng */
    font-size: 24px;     /* Điều chỉnh lại size nếu cần */

}

.common-header-navigation-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
    list-style: none;
    margin: 0;
}

.common-header-navigation-item-container li form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


.user-account-menu {
    margin-left: auto;
    position: relative;
    display: inline-block;
}

.user-btn {
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    top: 100%;
    right: 0;

    min-width: 150px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    

    display: none;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.user-dropdown form {
    margin: 0;
}

.user-dropdown button {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: black;
}

.user-dropdown button:hover {
    background: #f5f5f5;
}

/* Hover vào icon hoặc menu thì hiện dropdown */
.user-account-menu:hover .user-dropdown {
    display: block;
}

.search-box {
    width: 400px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 15px;

    background: #f1f3f4;
    color: black;
    border: 1px solid #ddd;
    border-radius: 999px;

    transition: all 0.3s ease;
}

.search-box:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.search-box:focus-within {
    border-color: #4285f4;
    box-shadow: 0 0 0 3px rgba(66,133,244,0.15);
}

.search-box i {
    font-size: 16px;
    color: #666;
    margin-right: 10px;
}

.search-box input {
    flex: 1;

    border: none;
    outline: none;
    background: transparent;

    font-size: 15px;
}

.invoice-exceptional-tickets-menu-content,
.thermal-event-tickets-menu-content,
.laser-engraving-menu-content,
.software-tickets-menu-content {
    padding: 20px;
    /* display: flex; */
    flex: 1;
    gap: 10px;
}



/* -------------------CSS cho Form input --------------------*/
.ticket-form-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; /* ẨN FORM KHI CHƯA NHẤN NÚT CREATE TICKET */
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);

    
}

.ticket-form-box {
    position: relative;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.2);
    
}




.ticket-form-header {
    justify-content: center;
    align-items: flex-end;
    
}

.ticket-form-header > .ti-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.ticket-form-overlay.active {
    display: flex; /* HIỆN FORM KHI NHẤN NÚT CREATE TICKET */

}


.ticket-form-body {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    /* gap: 10px; */
    overflow-y:auto;
    /* box-sizing: border-box; */
}

.ticket-form-body > label {
    align-items: left;
}

.ticket-form-body .ticket-form-body-input {
    padding: 5px;
    font-size: 15px;
    width: 100%;
}
.ticket-form-body-input .singlerow,
.ticket-form-body .single-row {
    height: 30px;
}

.ticket-form-body-input .multiple-row,
.ticket-form-body .multiple-row {
    height: 100px;
}

.ticket-form-footer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.ticket-form-footer > button {
    color: var(--button-text-color);
    padding: 10px;
    background-color: var(--button-background-color);
    border-radius: 5px;
}

.ticket-form-footer > button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: black;
    
}

#fileList > li > button > i {
    color: red;
    /* margin-left: 10px; */
    /* padding: 5px; */
}

#fileList > li > button > i:hover {
    cursor: pointer;
}



/* CSS CHO TABLE TICKET PENDING */

.common-table-container {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll;

    
}

.common-table {
    text-align: left;
    text-decoration: none;
    line-height: 30px;
}




.ticket-comments-box,
.software-tickets-tracking-info,
.tickets-details-box
{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 90vh;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px 10px rgba(0,0,0,0.4);
    
}
.ticket-comments-body,
.ticket-details-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 95%;
    height: 95%;
    box-sizing: border-box;
    overflow-y: scroll;
}


.tickets-details-items {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: space-evenly;
    overflow-y: scroll;
    box-sizing: border-box;
}


.tickets-comments-items li,
.tickets-details-items li{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    width: 99%;
    height: auto;
    
    
}


.ticket-comments-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    
}
.ticket-comments-footer > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
}

.invoice-exceptional-ticket-content,
.thermal-event-ticket-content,
.laser-engraving-ticket-content,
.software-ticket-content {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    width: 100%;
    max-height: 800px;
    padding: 20px;
    justify-content: space-evenly;
    gap: 20px;
}

.dialog-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; /* ẨN DIALOG KHI CHƯA NHẤN NÚT */
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
}

.dialog-box .dialog-box-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.dialog-box.active {
    display: flex; /* HIỆN DIALOG KHI NHẤN NÚT */
}

.dialog-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dialog-box-content > .dialog-box-header > .ti-close {
    /* position: absolute; */
    cursor: pointer;
    padding: 10px;
    
}


.ticket-status,
.ticket-support-type,
.ticket-priority{
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.ticket-priority.normal{
    background: rgb(72,176,79);
}

.ticket-priority.critical {
    background: rgb(239,81,34);
}

.ticket-priority.high {
    background: rgb(244,128,32);
}

.ticket-priority.low {
    background: rgb(84,195,240);
}

.ticket-status.completed,
.ticket-status.open {
    background: rgb(72,176,79);
}

.ticket-status.in-progress {
    background: rgb(244,128,32);
}

.ticket-status.waiting-approval {
    background: rgb(39,116,186);
}

.ticket-status.cancel,
.ticket-status.rejected {
    background: rgb(239,81,34);
}

.ticket-status.not-started {
    background: rgb(128,128,128);
}

.ticket-status.waiting-for-verifier {
    background: rgb(51,106,51);
}

.ticket-status.waiting-for-approver {
    background: rgb(136,25,81);
}

.ticket-support-type.add-part-product {
    background: rgb(51,106,51);
}

.ticket-support-type.rollback {
    background: rgb(136,25,81);
}

.ticket-support-type.cancel-reciept {
    background: rgb(75,46,138);
}

.ticket-support-type.adjust-information {
    background: rgb(54,47,140);
}

.ticket-support-type.unmark-rerepair {
    background: rgb(45,47,122);
}

.ticket-support-type.system-issue {
    background: rgb(22,72,159);
}

.ticket-support-type.data-export-request {
    background: rgb(7,88,157);
}

.ticket-support-type.request-improvement {
    background: rgb(14,97,101);
}

.ticket-support-type.others {
    background: rgb(12,78,66);
}


.approve-invoice-1-unit,
.re-activate-warranty-1-unit {
    background: rgb(73 163 160);
}

.approve-invoice-multiples-units,
.re-activate-warranty-multiples-units {
    background: rgb(66 27 38);
}

.waiting-approve-invoice,
.waiting-re-activate {
    background: rgb(21 16 66);
}



